<div class="post on-list">
    <h1 class="post-title" style="margin-top: 0px;">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>
    <div class="post-meta">
      <span class="post-date">
        👋 Welcome to my website :: I do code.
      </span>
      {{ with .Params.Author }}
        <span class="post-author">:: {{ . }}</span>
      {{ end }}
    </div>

    {{ if .Params.tags }}
      <span class="post-tags">
        {{ range .Params.tags }}
        #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
          {{- . -}}
        </a>&nbsp;
        {{ end }}
      </span>
    {{ end }}


    <img src="/img/me.png"
    class="post-cover"
    alt="{{ .Title | plainify | default " " }}"
    title="{{ .Params.CoverCredit |plainify|default "Cover Image" }}" />


    <div class="post-content">
        Hi everyone! My name is murat, 19, I'm developer from Turkey who is mainly working on backend, database and cloud. Using TypeScript/JavaScript with node.js and working with PostgreSQL/MongoDB for databases.
    </div>

    <div>Want the learn more about me?
      <a class="read-more button"
        href="/about/">Check this page →</a>
    </div>
  </div>